body {
    background: url('https://krot.info/uploads/posts/2021-01/1610503797_2-p-belii-neitralnii-fon-2.jpg');
}
.foncar {
   background: url('https://a.d-cd.net/29c0758s-960.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
.car{
    display: inline-block;
    width: 30%;
    border: 1px solid black;
    margin: 2px;
    padding: 10px;
    height: 450px;
    vertical-align: bottom;
}
.car-img{
    height: 250px;
    text-align: center;
}
.car-p{
    height: 180px;
    text-align: center;
}
.car-img>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carline{
    padding-left: 150px;
}
.car-name{
    color: navy;
}
.bold {
    font-weight: 700;
}
.car-desc {
    height: 70px;
}
.car-price {
    color: darkgreen;
}
.tablcar {
    margin: 20px auto;
    height: 900px;
    width: 1000px;
    vertical-align: bottom;
    background: white;
    opacity: 0.92;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.str {
    padding: 10px;
    height: 40px;
    vertical-align: bottom; 
    background: rgb(226, 221, 221); 
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.zagolov {
    font-size: 18px;
    padding-top: 10px;
    padding-left: 20px;
}
.textcar {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(214, 206, 206);
    margin-left: 25px;
    margin-right: 25px;
}   
.textcar span {
    font-size: 15px;
}
.textcar div {
    display: inline-block;
    width: 50%;
}