body {
    background: url('https://krot.info/uploads/posts/2021-01/1610503797_2-p-belii-neitralnii-fon-2.jpg');
}
.car{
    display: inline-block;
    width: 30%;
    border: 1px solid black;
    margin: 2px;
    padding: 10px;
    height: 450px;
    vertical-align: bottom;
}
.car-img{
    height: 250px;
    text-align: center;
}
.car-p{
    height: 180px;
    text-align: center;
}
.car-img>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carline{
    padding-left: 150px;
}
.car-name{
    color: navy;
}
.bold {
    font-weight: 700;
}
.car-desc {
    height: 70px;
}
.car-price {
    color: darkgreen;
}